<h1>Create User</h1>
<% form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="errorExplanation">
                <h2><%= pluralize(@user.errors.count, "error") %>
                 prohibited this user from being saved:</h2>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
<div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
</div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
        </div>
        <div class="actions">
        <%= f.submit "Create User"%>
    </div>
<% end %>

<%= link_to 'Back', products_path %>

        |<%= link_to "Home", :controller => "welcome", :action => "home" %> |
        <%= link_to "Product Catalogue", products_path %> |
        <%= link_to "Register", :controller => "welcome", :action => "register" %> |
        <%= link_to "Login", login_path %>|
        <%= link_to "Logout", logout_path %> |
        <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %> |
        <%= link_to "Leave Site", :controller => "welcome", :action => "thank_you" %> |
        <%= link_to "Contact", :controller => "welcome", :action => "contact" %> |

<div id="footer">
&copy; 2011 Printer Shack. Designed by Torsby Attipoe - Phone: 0868407106, Email: info@it247.ie,
  <a href="http://www.IT247.ie/">Visit www.IT247.ie</a>
</div>
