<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


        |<%= link_to "Home", :controller => "welcome", :action => "home" %> |
        <%= link_to "Product Catalogue", products_path %> |
        <%= link_to "Register", :controller => "welcome", :action => "register" %> |
        <%= link_to "Login", login_path %>|
        <%= link_to "Logout", logout_path %> |
        <%= link_to "Your Cart", :controller => "carts", :action => "your_cart" %> |
        <%= link_to "Leave Site", :controller => "welcome", :action => "thank_you" %> |
        <%= link_to "Contact", :controller => "welcome", :action => "contact" %> |

<div id="footer">
&copy; 2011 Printer Shack. Designed by Torsby Attipoe - Phone: 0868407106, Email: info@it247.ie, www.it247.ie
</div>