<p id="notice"><%= notice %></p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize(auto_link @product.description) %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Features:</b>
  <%= @product.features %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
